<div class="full-width full-height grid">
    <div class="center container">
        <div id="wizard" class="full-width wizard grid-2">   <!-- wizard menu -->
            <ul class="text-center">
                <li id="step1" class="cursor-default padding first active"><div class="inline not-mobile">calcula </div>tu compra</li>
                <li id="step2" class="cursor-default padding"><div class="inline not-mobile">indica tu </div>wallet</li>
                <li id="step3" class="cursor-default padding last">finaliza<div class="inline not-mobile"> la compra</div></li>
            </ul>
            <div id="usdSwitcher" class="padding text-center"><a class="cursor-pointer padding rounded">Cambiar a <div id="currency1" class="inline">U$D</div></a></div>
        </div>                                    <!-- wizard menu -->
        <!-- back-end data -->
        <input type="hidden" value="{{cryptocurrency.name}}" id="cryptocurrencyName" />
        <input type="hidden" value="{{data}}" id="cryptocurrencyPrice" />
        <input type="hidden" value="{{cryptocurrency.min}}" id="cryptocurrencyMin" />
        <input type="hidden" value="{{usdToArs}}" id="usdToArs" />
        <form action="/buy/{{cryptocurrency.name}}" method="post" aria-autocomplete="none" autocomplete="off">
        {{> calculator}}

        {{> wallet}}

        {{> finishBuy}}
        <input type="hidden" name="subject" value="Tu compra de {{cryptocurrency.name}} en Teslabit" />
        <input type="hidden" name="message" value="<p>¡Bien! Hemos registrado tu operación. Deberás transferirnos el monto a pagar en alguna de estas dos cuentas.</p><h2>Cuenta de ahorro en dólares (CBU): xxx</h2><h2>Cuenta de ahorro en pesos (CBU): xxx</h2><p>En cuánto tengamos tu dinero acreditado, tendrás tu {{ cryptocurrency.name }} entre 12 y 48 horas después.</p><p>¡Gracias por operar en Teslabit!</p>" />
        </form>
    </div>
</div>
<input type="hidden" name="recaptchaToken" id="recaptcha-token" />
<script>
    grecaptcha.ready(function() {
    grecaptcha.execute('6LfqUc4UAAAAAOKopCAGuzHndVy-Hgk6mA6nsiI2', {action: 'login'})
        .then(function(token) {
            document.querySelector('#recaptcha-token').value = token;
        });
    });
</script>
<script src="js/wallet-address-validator.min.js"></script>
<script src="js/buy.min.js"></script>