<main class="container center"> 
    <div id="profile" class="grid-2 gap">
        <div id="profile-info" class="grid full-screen">
            {{!-- {{#if user.name}}
                {{user.name}}
            {{else}}
                <h2 id="user-name" contenteditable="true">Escribe tu nombre</h2>
            {{/if}} --}}
            <p>{{user.email}}</p>
            <p><span>Online ■</span></p>
        </div>
        {{#if user.isAdmin}}
            <div id="admin" class="grid full-screen">
                <h2>Operaciones que requieren aprobación</h2>
                {{#each allTransactions}}
                    <div id="transaction-admin" class="padding rounded"><p>{{email}} (<i>{{payTo.walletDir}}</i>) solicita {{payTo.amount}} {{cryptocurrency.name}}.</p>
                        <div class="grid-2">
                            <p style="line-height: 10px;">{{cryptocurrency.name}} cotizó a U$D{{cryptocurrency.price}}.</p>
                            <a href="/admin/acceptPayment/{{id}}" class="text-center light rounded padding">Autorizar pago</a>
                        </div>
                    </div>
                {{/each}}
                {{#unless allTransactions}}
                    <div class="widget padding rounded"><p>No hay operaciones pendientes de aprobación. ¡Hurra!</p></div>
                {{/unless}}
            </div>
        {{else}}
            {{#unless dni1 }}
                <p class="success padding">Para comenzar a operar en Tesla<span>bit</span>, debes enviar un email a administracion@teslabit.com con el frente y dorso de tu DNI. Envíanos la información si aún no lo has hecho.</p>
            {{/unless}}
        {{/if}}
        <aside class="grid full-screen">
            <h1>Tus movimientos</h1>
            {{#each transactions}}
                <div id="transaction" class="padding rounded">
                    <h3>Compraste {{cryptocurrency.name}}</h3>
                    <p>{{date}}</p>
                    <div class="grid-2">
                        <p>Solicitas {{payTo.amount}} {{cryptocurrency.name}}, que cotiza a {{cryptocurrency.price}} dólares por cada unidad.</p>
                        <p>Recibe: {{payTo.walletDir}}</p>
                        {{#if finished}}
                            <p class="full-width-item-2 success padding rounded">Tu operación fue aprobada</p>
                        {{else}}
                            <p class="full-width-item-2 warn padding rounded">Tu operación aún no se aprobó</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
            {{#unless transactions}}
                <p>No tienes movimientos de compra/venta.</p>
            {{/unless}}
        </aside>
    </div>
</main>

<div id="admin-helper" class="grid">
    <div class="center">
        <p>¡Hey! Antes de aprobar un pago, deberías revisar estos pasos:</p>
        <ul>
            <li>Revisar que el pago de tu usuario haya llegado a tu cuenta</li>
            <li>Revisar que el usuario haya subido la documentación</li>
        </ul>
        <a onclick="$('#admin-helper').css('display', 'none');" class="light rounded padding">Entendido</a>
    </div>
</div>